@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #131313
    ;
}

h1 {
    color:white;
    font-family: Roboto;
}

.media-picture {
    height: 400px;
    width: 1330px;
    background-image:url(/img/Fundo.jpg);
    background-size: cover;
    background-position:inherit;
    background-attachment:fixed;
}

.review-score {
    color: white;
    background-color: #e6bd09;
    padding: 12px;
}

h2 {
    color:steelblue;
}

p {
    color:#bdbdbd;
    font-family:'Roboto';
    text-align: justify;
}

a {
    color:yellow
}

